.App {
  font-family: "Poppins", sans-serif;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 30px !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  display:inline-block;
  padding: 0px 15px 0px 15px;
}


/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  width: 97%;
  min-height: 100%;
  padding: 20px;
}

.formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 100%;
  height: 310px;
  max-width: 450px;
  padding: 0px;
  margin-bottom: 5%;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* FORM TYPOGRAPHY*/

.button  {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 25px 10px 0px 10px;
}

.button:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text], input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-sizing: content-box;
  font-size: 16px;
  margin: 5px;
  width: 250px;
  border: 1px solid #e9e7e7;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus , input[type=password]:focus {
  background-color: #fff;
  border-bottom: 5px solid #39ace7;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
  height: 50px;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: red;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

.formlabel {
  width: 40px;
  margin-right: 10px;

}

td {
  background-color: black;
  font-size: 1.2rem;
  width: 200px;
  padding-bottom: 0 !important;
  text-align: center;
}

#lastform {
  margin-bottom: 20px;
}

.general {
  display: flex;
  justify-content: center;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  min-height: 150px;
  max-width: 450px;
  position: relative;
  padding: 15px 0px 0px 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.table {
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  min-width: 418px;
}

.deleteicon{
  color: #ee6868;
  margin-top: 12px;
}
.deleteicon:hover {
  color: #850a0a;
}

.editicon {
  color: #66ff00;
  margin-top: 12px;
}
.editicon:hover {
  color: #07a321;
}

.p {
  margin-top: 12px;
}

svg.MuiSvgIcon-root {
  font-size: 1.8rem;
}

.row>* {
  padding-right: 0 !important; 
  padding-left: 0 !important;
}

.divimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 40px;
  height: 50px;
  padding-bottom: 0px;
  margin:1px 0px 0px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
}

#delete-btn{
  background-color: #ee6868;
  border: red;
  -webkit-box-shadow: 0 10px 30px 0 rgba(233, 104, 95, 0.4);
  box-shadow: 0 5px 30px 0 rgba(233, 104, 95, 0.4);
}
#delete-btn:hover {
  background-color: #850a0ae5;
}

#edit-btn {
  background-color: #66ff00ea;
  border: green;
  -webkit-box-shadow: 0 10px 30px 0 rgba(100, 233, 95, 0.4);
  box-shadow: 0 5px 30px 0 rgba(100, 233, 95, 0.4);
  width: 100px;
}
#edit-btn:hover {
  background-color: #07a321e8;
}

#create-btn {
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 5px 30px 0 rgba(95,186,233,0.4);
}
