.perfilrow{
  height: 500px;
}

#formperfil{
    width: 360px;
    height: 540px;
    padding: 30px 10px 40px 10px;
  }
#formperfil:hover .divimg-perfil {
    border: 6px solid; 
    border-color: #63d3a6;
  }

  .divHeaderperfil{
    display: flex;
    width: 100%;
  }

  .divImgBack {
    width: 30px;
    padding-bottom: 0px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 300px;
    padding: 0px 0px 0px 0px;
  }

   
  .imgBack {
    pointer-events: none;
    width: 100%;
  }

#h2{
  color: black;
  margin-left: 85px;
}

.divimg-perfil {
    margin-bottom: 25px;
    border: solid 6px transparent;
    border-radius: 150px;
    border: 1px solid #b7b7b7;
    transition: 0.2s;
}

.img-wrap{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.imgperfil{
  width: auto;
  height: 100%;
  pointer-events: none;
}

.input-upload {
  display: none;
}